<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPdf" version="2022.8.8138" targetFramework="net48" />
  <package id="IronPdf.Native.Chrome.Windows" version="2022.8.8130" targetFramework="net48" />
  <package id="IronPdf.Slim" version="2022.8.8138" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net48" />
  <package id="O2S.Components.PDFRender4NET.WPF" version="11.0.3.0" targetFramework="net48" />
  <package id="O2S.Components.PDFView4NET.WPF" version="11.0.3.0" targetFramework="net48" />
</packages>